body {
  margin: 0;
}

.my-title-h3 {
  text-align: center;
  margin: 15px 0;
}

.my-order-title-h3 {
  text-align: center;
  display: inline-block;
  margin: 15px 0;
}

.table-expand label {
  width: 90px;
  color: #99a9bf;
}

.table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 95%;
}

.dialog-form .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 95%;
}

.create-form-size {
  width: 80%;
  margin: 0 auto
}

.my-badge-item {
  margin-top: 10px;
  margin-right: 15px;
}

.my-center-row {
  margin: 0 auto;
  text-align: center
}

.input-with-prepend .el-form-item__error {
  margin-left: 55px;
}

.payment-num {
  color: red;
  font-size: 25px
}

.custom-p {
  margin: 0;
  white-space: pre-wrap;
  padding-left: 85px
}

.order-list-p {
  margin: 0;
  white-space: pre-wrap;
}

.custom-popover-p {
  margin: 0;
  white-space: pre-wrap;
}

.pagination-style {
  text-align: center;
  margin-top: 5px
}

.order-list-top-col {
  border: 1px solid #dcdfe6;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 0 10px;
  display: flex;
  align-items: center
}

.order-list-top-col .el-form-item {
  margin: 5px auto;
  /*margin-right: 0;*/
  /*margin-bottom: 10px;*/
}

.order-list-top-tag {
  margin-bottom: 10px
}

.order-list-download-btn {
  margin: 10px 0;
}

.my-popover-span:hover {
  cursor: pointer;
}

.my-popover-div {
  padding: 5px;
}

.btn-float-right {
  float: right;
}
